.filters2 a {
    font-weight: 100;
    color: rgb(121, 138, 154);
}

.filters2 a:hover {
    color: #57d131;
}

/* ************************** */

.navbar {
    top: 0px;
}

.navbar-fs {
    letter-spacing: 2px;
}

.navbar2 {
    letter-spacing: 3px;
    border: 2px solid white;
    color: white;
    padding: 7px 22px;
    font-weight: 100;
}

/* .navbar2:hover{
    color: white;
} */

.navbar-fs {
    font-size: 14px;
}

p {
    font-weight: 100;
}

p::selection {
    color: white;
    background-color: black;
}

span::selection {
    color: white;
    background-color: black;
}

a::selection {
    color: white;
    background-color: black;
}

li::selection {
    color: white;
    background-color: black;
}

.container3 {
    width: 900px;
    height: 100px;
    top: 230px;
    left: 50%;
    margin-left: -450px;
    font-size: 70px;
    color: white;
}

.container4 {
    width: 580px;
    height: 100px;
    top: 335px;
    left: 50%;
    margin-left: -290px;
    font-size: 20px;
    line-height: 35px;
    color: #9b9fa2;
}


.container5 {
    width: 165px;
    height: 57px;
    top: 450px;
    left: 50%;
    margin-left: -80px;

    background-color: #4ebe2a;
}

.container3 span {
    font-weight: bold;
}

.container2 {
    width: 100%;
    height: 100%;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.heading2 {
    width: 45px;
    height: 2px;
    background-color: #57d131;
}

.heading1 p {
    font-weight: 100;
    color: rgb(121, 138, 154);
}

.heading1 p:first-of-type {
    font-size: 30px;
    color: #2c3e50;
}

.heading1 p:nth-of-type(2) {
    font-size: 20px;
}

.heading1 p:nth-of-type(3) {
    line-height: 28px;
}

.heading1 span {
    color: rgb(44, 62, 80);
    font-size: 30px;
    font-weight: bold;
}

.heading1 button:first-of-type {
    width: 112px;
    height: 38px;
    font-weight: 100;
    letter-spacing: 1.25px;
    background-color: #4ebe2a;
}

.heading1 button:last-of-type {
    width: 164px;
    height: 38px;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 1.5px;
    background-color: rgb(108, 117, 125);
}

.section {
    width: 45px;
    height: 2px;
    background-color: #57d131;
}

.section1 {
    width: 701px;
    height: 4px;
    background-image: linear-gradient(to right, #57d131 0%, #57d131 85%, #e9ecef 85%, #e9ecef 100%);
}

.section1 p {
    margin-top: 10px;
    right: 90px;
    position: absolute;
    background-color: #57d131;
    width: 26px;
    height: 14px;
    border-radius: 2px;
    font-size: 10px;
}

.section2 {
    width: 701px;
    height: 4px;
    background-image: linear-gradient(to right, #57d131 0%, #57d131 98%, #e9ecef 98%, #e9ecef 100%);
}

.section2 p {
    margin-top: 10px;
    right: 0px;
    position: absolute;
    background-color: #57d131;
    width: 26px;
    height: 14px;
    border-radius: 2px;
    font-size: 10px;
}


.section3 {
    width: 701px;
    height: 4px;
    background-image: linear-gradient(to right, #57d131 0%, #57d131 97%, #e9ecef 97%, #e9ecef 100%);
}

.section3 p {
    margin-top: 10px;
    right: 10px;
    position: absolute;
    background-color: #57d131;
    width: 26px;
    height: 14px;
    border-radius: 2px;
    font-size: 10px;
}

.section4 {
    width: 701px;
    height: 4px;
    background-image: linear-gradient(to right, #57d131 0%, #57d131 88%, #e9ecef 88%, #e9ecef 100%);
}

.section4 p {
    margin-top: 10px;
    right: 70px;
    position: absolute;
    background-color: #57d131;
    width: 26px;
    height: 14px;
    border-radius: 2px;
    font-size: 10px;
}

.section5 {
    width: 701px;
    height: 4px;
    background-image: linear-gradient(to right, #57d131 0%, #57d131 92%, #e9ecef 92%, #e9ecef 100%);
}

.section5 p {
    margin-top: 10px;
    right: 40px;
    position: absolute;
    background-color: #57d131;
    width: 26px;
    height: 14px;
    border-radius: 2px;
    font-size: 10px;
}

.progress1 span {
    color: rgb(44, 62, 80);
    font-size: 30px;
    font-weight: bold;
}

.progress1 p {
    font-weight: 100;
    font-size: 30px;
    color: #2c3e50;
}

.skill2 {
    width: 100px;
}

.site-section {
    width: 100%;
    height: 846px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.site-section1 {
    margin: 0px auto;
    width: 45px;
    height: 2px;
    background-color: #4ebe2a;
}

.site-section2 p {
    font-size: 30px;
}

.site-section2 span {
    font-size: 30px;
    font-weight: bold;
}

.image1 {
    width: 70px;
}

.author p {
    width: 430px;
    height: 212px;
    color: rgb(121, 138, 154);
    line-height: 27px;
    padding: 20px;
    box-shadow: 0 2px 30px -2px rgba(0, 0, 0, 0.1);
}

.author span {
    color: #4ebe2a;
}

.box1 {
    width: 100%;
    height: 800px;
    background-position: center;
    background-size: cover;
    background-image: url('../images/1.webp');
}

.author {
    display: flex;
    justify-content: center;
    margin: 0px 10px;

}

.author a {
    color: #4ebe2a;
}

.author span {
    color: rgb(121, 138, 154);
    font-size: 14px;
}

.services p:first-of-type {
    font-size: 20px;
    color: rgb(44, 62, 80);
    font-weight: 100;
}

.services p:last-of-type {
    color: rgb(121, 138, 154);
}

.services2 {
    width: 100px;
    height: 100px;
    background-color: #57d131;
    text-align: center;
}

.services2 i {
    line-height: 100px;
    font-size: 40px;
}

.services3 {
    color: #4ebe2a;
    /* text-decoration: none; */
    font-weight: 100;
}

.services3 i {
    font-size: 13px;
    margin-left: 5px;
    transition: all 300ms ease 0s;
}

.services3:hover i {
    margin-left: 25px;
}

.section-features p:first-of-type {
    width: 43%;
    font-size: 28px;
}

.section-features p:last-of-type {
    width: 65%;
    color: rgb(121, 138, 154);
}

.section-features li {
    list-style-type: none;
    color: rgb(121, 138, 154);
    font-weight: 100;
}

.section-features i {
    margin-right: 20px;
    margin-left: -32px;
    color: #57d131;
}

.section-heading {
    margin: 0px auto;
    width: 45px;
    height: 1.5px;
    background-color: #4ebe2a;
}


@media all and (max-width:575px) {

    .navbar {
        background-color: white;
    }

    .navbar2 {
        border: 2px solid black;
        color: black;
        padding: 3px 10px;
        font-size: 18px;
    }

    .section1 p {
        right: 22px;
    }

    .section2 p {
        right: -5px;
    }

    .section3 p {
        right: -5px;
    }

    .section4 p {
        right: 15px;
    }

    .section5 p {
        right: 5px;
    }

    .container3 {
        width: 250px;
        margin-left: -125px;
        font-size: 40px;
        top: 210px;
    }

    .container4 {
        width: 250px;
        margin-left: -125px;
        top: 340px;
        font-size: 20px;
    }

    .section1 {
        width: 229px;
    }

    .container5 {
        top: 540px;
    }

    .section2 {
        width: 229px;
    }

    .section3 {
        width: 229px;
    }

    .section4 {
        width: 229px;
    }

    .section5 {
        width: 229px;
    }

    .author p {
        width: 171px;
        height: 592px;
    }

    .site-section {
        width: 100%;
        height: 2800px;
    }

    .section-features p:first-of-type {
        width: 100%;
    }

    .section-features p:last-of-type {
        width: 100%;
    }

    .section-features li:nth-of-type(2) {
        width: 100%;
    }

    .section-features li:nth-of-type(3) {
        width: 100%;
    }

    .filters2 a:last-of-type {
        line-height: 80px;
    }

    .section-features{
        order: 1;
    }

}

@media all and (min-width:576px) and (max-width:767px) {

    .navbar {
        background-color: white;
    }

    .navbar2 {
        border: 2px solid black;
        color: black;
        padding: 3px 10px;
        font-size: 18px;
    }

    .section1 p {
        right: 55px;
    }

    .section3 p {
        right: 0px;
    }

    .section4 p {
        right: 40px;
    }

    .section5 p {
        right: 20px;
    }

    .container3 {
        width: 550px;
        margin-left: -275px;
        font-size: 40px;
        top: 270px;
    }

    .container4 {
        width: 510px;
        margin-left: -255px;
        top: 320px;
        font-size: 20px;
    }

    .container5 {
        top: 450px;
    }

    .section1 {
        width: 433px;
    }

    .section2 {
        width: 433px;
    }

    .section3 {
        width: 433px;
    }

    .section4 {
        width: 433px;
    }

    .section5 {
        width: 433px;
    }

    .skill {
        width: 460px;
    }

    .site-section {
        width: 100%;
        height: 1506px;
    }

    .section-features p:first-of-type {
        width: 100%;
    }

    .section-features p:last-of-type {
        width: 100%;
    }

    .section-features li:nth-of-type(2) {
        width: 100%;
    }

    .section-features li:nth-of-type(3) {
        width: 100%;
    }

    .filters1 {
        width: 75%;
    }

    .filters2 a:last-of-type {
        line-height: 80px;
    }

    .section-features{
        order: 1;
    }
}

@media all and (min-width:768px) and (max-width:991px) {

    .navbar {
        background-color: white;
    }

    .navbar2 {
        border: 2px solid black;
        color: black;
        padding: 3px 10px;
        font-size: 18px;
    }

    .section1 p {
        right: 55px;
    }

    .section2 p {
        right: -5px;
    }

    .section3 p {
        right: 0px;
    }

    .section4 p {
        right: 40px;
    }

    .section5 p {
        right: 25px;
    }

    .container3 {
        width: 500px;
        margin-left: -250px;
        top: 200px;
        line-height: 80px;
    }

    .container4 {
        width: 550px;
        margin-left: -275px;
        top: 380px;
    }

    .container5 {
        top: 510px;
    }

    .section1 {
        width: 433px;
    }

    .section2 {
        width: 433px;
    }

    .section3 {
        width: 433px;
    }

    .section4 {
        width: 433px;
    }

    .section5 {
        width: 433px;
    }

    .author p {
        width: 220px;
        height: 429px;
    }

    .site-section {
        width: 100%;
        height: 1281px;
    }

    .section-features p:first-of-type {
        width: 70%;
    }

    .section-features li:nth-of-type(2) {
        width: 50%;
    }

    .section-features li:nth-of-type(3) {
        width: 65%;
    }
}

@media all and (min-width:992px) and (max-width:1199px) {
    .section1 p {
        right: 75px;
    }

    .section4 p {
        right: 60px;
    }

    .navbar {
        top: 20px;
    }

    .navbar2 {
        position: absolute;
        left: 30px;
    }

    .section1 {
        width: 586px;
    }

    .section2 {
        width: 586px;
    }

    .section3 {
        width: 586px;
    }

    .section4 {
        width: 586px;
    }

    .section5 {
        width: 586px;
    }

    .author p {
        width: 340px;
        height: 266px;
    }

    .section-features li:nth-of-type(3) {
        width: 60%;
    }
}

@media all and (min-width:1200px) and (max-width:1399px) {

    .navbar {
        top: 20px;
    }

    .navbar2 {
        position: absolute;
        left: 100px;
    }
}

@media all and (min-width:1400px) {

    .navbar {
        top: 20px;
    }

    .navbar2 {
        position: absolute;
        left: 200px;
    }
}