* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f8f6;
}

.navigation {
    width: 95%;
    height: 35px;
    margin-top: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #ed2b73;
}

.navigation ul li a {
    text-decoration: none;
    width: fit-content;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 35px;
    color: rgb(255, 255, 255);
}

.navigation ul li:nth-of-type(2) a {
    margin-right: 20px;
}

.navigation ul li:nth-of-type(3) a {
    margin-right: 20px;
}

.navigation ul li:nth-of-type(2) i {
    margin-left: 5px;
}

.navigation ul li:nth-of-type(3) i {
    margin-left: 5px;
}

.navigation ul {
    display: flex;
    list-style-type: none;
}

.navigation2 {
    width: 95%;
    height: 95px;
    padding: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 2.5px 0px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
}

.navigation2 ul {
    width: 100%;
    height: 100%;
    display: flex;
    list-style-type: none;
}

.navigation2 ul li {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.navigation2 ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navigation2 ul li:last-of-type {
    justify-content: flex-end;
}

.navigation2 ul li:nth-of-type(2) a i {
    color: rgb(100, 100, 100);
    font-size: 10px;
    margin-right: 5px;
}

.navigation2 ul li:last-of-type a i {
    color: #ed2b73;
    display: block;
    background-color: rgb(249, 248, 246);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    transition: all 150ms ease 0s;
    outline: 1px solid rgb(236, 233, 226);
}

.navigation2 ul li:nth-of-type(2) a {
    margin: 0 10px;
    letter-spacing: -0.5px;
    text-align: center;
}

.navigation2 ul li:last-of-type a {
    margin: 0 7px;
    border-radius: 50%;
}

.navigation2 ul li:nth-of-type(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navigation2 img {
    width: 55%;
}

.navigation2 ul li:last-of-type a:first-of-type i {
    background-color: #ed2b73;
    color: rgb(255, 255, 255);
}

.navigation2 ul li:last-of-type a:last-of-type {
    margin-left: 30px;
}

.navigation2 ul li:last-of-type a:nth-of-type(2):hover i {
    color: rgb(255, 255, 255);
    background-color: #fb6f92;
    outline: 1px solid #fb6f92;
}

.navigation2 ul li:last-of-type a:nth-of-type(3):hover i {
    color: rgb(255, 255, 255);
    background-color: #fb6f92;
    outline: 1px solid #fb6f92;
}

.navigation2 ul li:first-of-type {
    width: 70%;
}

.navigation2 ul li:nth-of-type(2) a {
    background-color: rgb(150, 200, 200);
    font-size: calc(1px+3);
}

.product {
    width: 95%;
    height: 80px;
    border-radius: 20px;
    border: 1px solid #e1e1e1;
}

.product1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.product1 p {
    font-weight: 700;
    height: 100%;
    display: flex;
    align-items: center;
}

.product1 a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
    background-color: red;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    transition: all 200ms ease 0s;
}

.product1 a:hover {
    color: #ED2B73;
}

.product2 {
    width: 20px;
    margin-top: 10px;
    border-bottom: 1px solid black;
    transition: all 200ms ease 0s;

}

.product a:hover .product2 {
    transform-origin: left;
    transform: scaleX(2);
}

.product a:hover {
    width: 11%;
}

.elementor {
    width: 97%;
}

.elementor1 {
    width: 100%;
    height: 105px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid #e1e1e1;
}

.elementor img {
    width: 50px;
    height: 50px;
}

.elementor-p p:first-of-type {
    font-size: 14px;
    margin-top: 13px;
    font-weight: 700;
}

.elementor-p p:last-of-type {
    font-size: 14px;
    margin-top: -15px;
}

.best-seller {
    width: 95%;
    height: 581px;
    border-radius: 20px;
    border: 1px solid #e1e1e1;
    background-color: rgb(255, 525, 255);
}

.best-seller1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin: 10px 0;
}

.best-seller1 p {
    font-weight: 700;
}

.best-seller1 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.case {
    width: 270px;
    height: 483px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #e1e1e1;
    border-radius: 20px;
    transition: all 300ms ease 0s;
}

.case:hover {
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
}

.case-first {
    width: 260px;
    height: 258px;
    margin: 0px auto;
}

.case-first img {
    transition: all 800ms ease 0s;
}

.case-img1 {
    display: none;
}

.case:hover .case-img1 {
    display: block;
}

.case:hover .case-img2 {
    display: none;
}

.case-seconde {
    height: 220px;
    background-color: bisque;
    text-align: center;
}

.case-seconde a {
    text-decoration: none;
}

.case-seconde a:first-of-type {
    color: rgb(136, 136, 136);
    font-size: 14px;
    background-color: rgb(200, 200, 200);
}

.case-seconde a:last-of-type {
    display: block;
    color: rgb(0, 0, 0);
    margin-top: 5px;
}

.case-seconde p {
    font-size: 20px;
    font-weight: 700;
}

.choose {
    width: 130px;
    height: 42px;
    color: rgb(255, 255, 255);
    background-color: rgb(17, 84, 176);
}

.best-seller-container {
    display: flex;
}

/* container */
.footer {
    width: 95%;
    background-color: rgb(255, 255, 255);
}

.footer2 {
    display: flex;
    align-items: center;
}

.footer3 {
    display: flex;
    align-items: center;
}

.footer img {
    width: 50px;
    height: 50px;
}

.footer-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.footer-paragraph p {
    font-size: 14px;
    letter-spacing: -0.5px;
}

.footer-paragraph p:first-of-type {
    margin-top: 12px;
    font-weight: 700;
}

.footer-paragraph p:last-of-type {
    margin-top: -10px;
}

.footer-border {
    width: 100%;
    height: 1px;
    border-top: 2px dashed rgb(238, 235, 229);
}

.footer-link {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-link a {
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.5px;
}

.footer-link a:hover {
    color: rgb(17, 84, 176);
}

.footer-link a:first-of-type {
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.footer .footer-link:last-of-type img {
    width: 30%;
    display: block;
    margin: 0px auto;
    background-color: red;
}

.footer-paragraph2 {
    font-size: 13.5px;
}

.footer-section-img {
    width: 140px;
    height: 100px;
    margin: 0px auto;
    display: block;
    background-color: rgb(100, 200, 100);
}

.footer-section {
    width: 100%;
    height: 105px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    direction: ltr;
    background-color: #f9f8f6;
    border: 1px solid #e1e1e1;
}

.footer-section img{
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
}

.footer-section-description p:first-of-type {
    font-size: 14px;
    margin-top: 13px;
    font-weight: 700;
}

.footer-section-description p:last-of-type {
    font-size: 14px;
    margin-top: -15px;
}

.footer-section-description a{
    display: block;
    width: 88px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    margin-top: -10px;
    color: rgb(0, 0, 0);
    background-color: rgb(251, 111, 146);
}

.footer-section-description a i{
    line-height: 25px;
    font-size: 10px;
}

.footer-paragraph3 p {
    text-align: center;
    letter-spacing: -1px;
}

.footer-paragraph3 a {
    width: fit-content;
    display: block;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 0px auto;
    margin-top: -10px;
    background-color: red;
    margin-bottom: 40px;
    text-decoration: none;
    color: rgb(22, 26, 29);
    transition: all 200ms ease 0s;

}

.footer-paragraph3 a:hover {
    color: rgb(251, 111, 146);
}

body {
    height: 3000px;
}

/* ******&&&&&&&&&&&&&&***********&&&&&&&&&&& */

.test {
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.remove-padding {
    padding: 1px;
}

@media all and (max-width:576px) {

    .product1 a {
        /* font-size: ; */
    }

    .elementor-p p:first-of-type {
        font-size: calc(0.5vw + 11px);
        font-weight: 700;
    }

    .elementor-p p:last-of-type {
        font-size: calc(0.5vw + 10px);
    }
}

@media all and (min-width:576px) and (max-width:767px) {

    .case {
        width: 30%;
    }

    .case-first {
        width: 99%;
    }

    .case-seconde {
        height: 340px;
    }

    .best-seller-container {
        justify-content: space-evenly;
    }
}

@media all and (min-width:768px) and (max-width:991px) {

    .navigation2 img {
        width: 100%;
    }

    .navigation2 ul li:first-of-type {
        width: 30%;
    }

    .navigation2 ul li:last-of-type {
        width: 50%;
    }

    .case {
        width: 220px;
    }

    .case-first {
        width: 210px;
    }

    .case-seconde {
        height: 320px;
    }

    .best-seller-container {
        justify-content: space-evenly;
    }
}

@media all and (min-width:992px) and (max-width:1199px) {

    .navigation2 img {
        width: 90%;
    }

    .navigation2 ul li:first-of-type {
        width: 30%;
    }

    .navigation2 ul li:last-of-type {
        width: 60%;
    }

    .elementor-p p:first-of-type {
        font-size: calc(1vw + 4px);
    }

    .elementor-p p:last-of-type {
        font-size: 10px;
    }

    .best-seller-container {
        justify-content: space-evenly;
    }

    .footer-section-description p:first-of-type {
        font-size: calc(1vw + 4px);
    }
    
    .footer-section-description p:last-of-type {
        font-size: calc(1vw + 1px);
    }
}

@media all and (min-width:1200px) and (max-width:1399px) {

    .navigation2 img {
        width: 75%;
    }

    .navigation2 ul li:first-of-type {
        width: 35%;
    }

    .navigation2 ul li:last-of-type {
        width: 70%;
    }

    .product1 a {
        width: calc(1vw + 10.5%);
    }

    .product1 a:hover {
        width: 12%;
    }

}


@media all and (min-width:1400px) {

    .navigation2 img {
        width: 60%;
    }

    .navigation2 ul li:first-of-type {
        width: 55%;
    }

    .navigation2 ul li:last-of-type {
        width: 90%;
    }
}